.form-control.rounded-pill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;

}

.input-group-text {
    background-color: transparent;
    border: none;
}

.custom-margin {
    margin-right: -50px;
    /* Ajustez la valeur selon vos besoins */
    margin-left: 50px;

}

.custom-bg-color {
    background-color: #a358e8;
}

#login:hover {
    color: red;
    cursor: pointer;
}

.navbar {
    background-color: #a258c9;
    padding: 10px;

}

.navbar a:hover {
    color: red;
}

section {
    padding: 20px;
    width: 100%;
    gap: 20px;
    position: relative;

}

.box {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    position: relative;
}

.img_principal {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.delete_btn {
    position: absolute;
    top: -15px;
    left: -15px;
}

.delete_btn img {
    width: 40px;
    height: 40px;
}

.box div {
    font-size: 13px;
    margin-top: 10px;
}

.deconexion {
    margin-left: 10px;
}

.deconexion:hover {
    color: red;
    cursor: pointer;
}

.list {
    margin: 20px;
}

.admin-icon {
    width: 400px;
    height: 330px;
    margin: 40px;
    border: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.admin-icon-container {
    display: flex;
    flex-wrap: wrap;
}


.admin-icon img {
    max-width: 100%;
    max-height: 100%;
}

.info {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
}

.price {
    color: grey;
}