.form-control.rounded-pill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;

}

.input-group-text {
    background-color: transparent;
    border: none;
}

.custom-margin {
    margin-right: -50px;
    /* Ajustez la valeur selon vos besoins */
    margin-left: 50px;

}

.custom-bg-color {
    background-color: #a358e8;
}

#login:hover {
    color: red;
    cursor: pointer;
}
.navbar {
    background-color: #a258c9; 
    padding: 10px !important;
    
}
.navbar a:hover {
    color: red;
}

section{
margin-top: 100px;
display: grid;
grid-template-columns: repeat(auto-fit,20rem);
justify-content:center ;
padding: 20px;
margin-bottom: 50px;
width: 100%;
gap: 20px;
}
.box{
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    position: relative;
}
.img_principal{
    width:100%;
    object-fit: cover;
    height: 200px;
}
.delete_btn{
    position: absolute;
    top: -15px;
    left: -15px;
}
.delete_btn img{
    width: 40px;
    height: 40px;
}
.box div{
    font-size: 13px;
    margin-top: 10px;
}